<input type="hidden" name="q_heads" value="{{ q_heads|default:'' }}">
<input type="hidden" name="q_inv" value="{{ q_inv|default:'' }}">
<input type="hidden" name="q_other" value="{{ q_other|default:'' }}">
<input type="hidden" name="h_status" value="{{ h_status|default:'' }}">
<input type="hidden" name="h_sort" value="{{ h_sort|default:'' }}">
<input type="hidden" name="i_status" value="{{ i_status|default:'' }}">
<input type="hidden" name="i_sort" value="{{ i_sort|default:'' }}">
<input type="hidden" name="o_status" value="{{ o_status|default:'' }}">
<input type="hidden" name="o_sort" value="{{ o_sort|default:'' }}">
